{% extends "base/layout.twig.html" %}

{% block content %}

<!-- Wir überschreiben den Content-Block -->
<h1 class="mt-5">Aktuelle Bestellungen: </h1>

<!-- {{ dump(data) }} -->

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Menu</th>
            <th scope="col">Kommentar</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>

        {% for datarow in data %}
        <tr>
            <th scope="row">{{ datarow.id }}</th>
            <td>{{ datarow.username }}</td>
            <td>{{ datarow.email }}</td>
            <td>{{ datarow.menueinfo }}</td>
            <td>{{ datarow.comment }}</td>
            <td>{{ datarow.status }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}