{% extends "base/layout.twig.html" %}

{% block content %}

<!-- Wir überschreiben den Content-Block -->
<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="card card-body bg-light mt-5">
        <h1 class="mt-5 titleblock">Übersicht Formulare</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Nachname</th>
                    <th scope="col">Event</th>
                    <th scope="col">Firma</th>
                    <th scope="col">von</th>
                    <th scope="col">bis</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                    <th scope="col">Aktion</th>

                </tr>
            </thead>
            <tbody>

                {% for datarow in data %}
                <tr>
                    <th scope="row">{{ datarow.id }}</th>
                    <td>{{ datarow.name }}</td>
                    <td>{{ datarow.lastname }}</td>
                    <td>{{ datarow.event }}</td>
                    <td>{{ datarow.company }}</td>
                    <td>{{ datarow.datefrom }}</td>
                    <td>{{ datarow.dateto }}</td>
                    <td>{{ datarow.total }} CHF</td>
                    {% if datarow.status == true %}
                    <td>Akzeptiert</td>
                    <td>
                        <form action="{{ urlroot }}/Details/show" method="post">
                            <input type="text" name="id" value="{{ datarow.id }}" class="form-control form-control-lg" style="display: none;">
                            <input type="submit" value="Details" class="btn btn-success {{ datarow.id }}" style="color: white;"></a>
                        </form>
                    </td>
                    {% elseif dararow.status == false %}
                    <td>Offen</td>
                    <td>
                        {% if uservariables.isAdmin == true %}
                        <form action="{{ urlroot }}/Forms/change" method="post">
                            <input type="text" name="id" value="{{ datarow.id }}" class="form-control form-control-lg" style="display: none;">
                            <input type="submit" value="Akzeptieren" class="btn btn-success {{ datarow.id }}" style="color: white;"></a>
                        </form>
                        {% endif %}
                        <form action="{{ urlroot }}/Details/show" method="post">
                            <input type="text" name="id" value="{{ datarow.id }}" class="form-control form-control-lg" style="display: none;">
                            <input type="submit" value="Details" class="btn btn-success {{ datarow.id }}" style="color: white;"></a>
                        </form>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>


{% endblock %}